@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>

@{
    ViewBag.Title = "用户列表";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">用户ID</th>
        <th scope="col">用户名</th>
        <th scope="col">操作</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var r in Model)
    {
        <tr>
            <th scope="row">@r.Id</th>
            <td>@r.Email</td>
            <td>
                <form asp-action="DeleteUser" asp-route-id="@r.Id" method="post">
                    <a asp-action="ManageClaims" asp-route-id="@r.Id" class="btn btn-primary">管理claim</a>
                    <button type="submit" class="btn btn-danger"
                            onclick="return confirm('确认删除？')">
                        删除
                    </button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>
<a asp-action="AddClaim"  class="btn btn-primary">新建Claim</a>